.Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
